{% extends 'core/base.html' %}
{% load static %}
{% block title_core %} Liên hệ {% endblock %}
{% block css_blocl %}
<!------ Include the above in your HEAD tag ---------->
<style>
    .banner {
        position: relative;
        width: 100%;
        height: 20rem;
        padding: 0 5%;
        overflow: hidden;
        backface-visibility: hidden;
    }

    /* Default image container */
    .banner .background {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transform: translate3d(0, 0, 0) scale(1.25);
        background: black url(/static/core/images/lienhe.svg) no-repeat center center;
        background-size: cover;
    }

    .loaded .banner .background {
        transform: scale(1);
        transition: 6.5s transform;
    }

    /* Other stuff */
    .banner h1 {
        color: #EEE;
        margin: 0;
        line-height: 20rem;
        text-transform: uppercase;
        text-shadow: 0 0 .3rem black;
        float: right;
    }

    .news {
        background: #40a1a4;
        color: #fff;
        border-radius: 5px;
        border-top-right-radius: 50px;
        margin-top: 10px;

    }

    .banner a:hover {
        color: #40a1a4;
    }
</style>
<style>
    /*-------- contact page start --------*/
    .ff_contact_box {
        text-align: center;
        padding: 40px 0px;
        margin-bottom: 50px;
        background-image: url(contact.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: initial;
        position: relative;
        -webkit-perspective: 100px;
        -moz-perspective: 100px;
        -ms-perspective: 100px;
        perspective: 100px;
    }

    .ff_contact_box:after {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        /* outline: rgba(232, 63, 83, 0.4) solid 10px;
        background-color: rgba(33, 39, 49, 0.9); */
        z-index: -1;
    }

    .ff_contact_box span {
        color: #fffbf7;
        font-size: 35px;
        margin-bottom: 10px;
        padding: 15px;
        /* background: #40a1a4; */
        border-radius: 50%;
        /* box-shadow: -9px 8px 35px 3px rgb(115 113 111); */
    }

    .box1 span{
        background: #64d1e6;
    }

    .box2 span{
        background: #de6e6e;
    }

    .box3 span{
        background: #64d1e6;
    }

    .ff_contact_box h4 {
        font-size: 25px;
        color: #1e266e;
        margin-bottom: 15px;
    }

    .ff_contact_box p {
        color: #3bc8e4;
    }

    .ff_contact_box a {
        color: #f0475c;
    }

    .ff_contact_box a:hover {
        color: #e83f53;
        font-size: 17px;
        transition: all 0.5s !important;
    }
</style>
<style>
    #form h1 {
        text-align: center;
        color: #1e266e;
    }

    .contact-text h6 {
        color: #595959;
        line-height: 26px;
        font-size: 16px;
    }

    #usr,
    #comment {
        background: #f4f4f4;
        margin-top: 0;
        border: solid 1px #d5d5d5;
    }

    .form-group {
        width: 100%;
    }

    .form-ara .col-md-6 {
        padding: 0 0;
    }

    .name-text {
        margin-top: ;
        display: block;
        overflow: hidden;
        margin-top: 5px;
        width: 96%;
    }

    .form-ara .col-lg-6 {
        padding: 0;
    }

    .form-ara input {
        padding: 10px 15px;
        font-size: 14px;
        min-height: 53px;
    }

    .map-area iframe {
        width: 100%;
    }

    .captha {
        width: 60%;
        background: #F4F4F4;
        border: solid 1px #d5d5d5;
        padding: 15px 22px;
    }

    .form-check .form-check-label {
        display: inline-flex;
    }

    .form-check p {
        margin-top: 11px;
        padding-right: 29px;
    }

    #captha-image {
        margin-left: 10px;
    }

    .buton-form a {
        background: #01478c;
        position: absolute;
        right: 0;
        padding: 14px 51px;
        bottom: 47px;
        font-size: 16px;
        color: white;
        font-weight: 600;
        border-radius: 5px;
        border: solid 1px transparent;
        transition: all ease-in 0.5s;
    }

    .buton-form a:hover {
        background: #F4F4F4;
        color: #01478c;
        border: solid 1px #01478c;
        transition: all ease-out 0.5s;
    }

    .form-check-label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .form-check-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        position: absolute;
        top: 18px;
        left: 0;
        height: 26px;
        width: 26px;
        background-color: white;
        border: solid 1px #d5a440;
    }

    .form-check-label:hover input~.checkmark {
        background-color: #01478C;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    .form-check-label input:checked~.checkmark:after {
        display: block;
    }

    .form-check-label .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .contact-text.text-center h6 {
        margin-bottom: 60px;
    }

    .capcta {
        width: 25%;
        min-height: 63px;
        object-fit: cover;
    }

    .map-area iframe {
        border: solid 2px whitesmoke !important;
        padding: 4px;
        background: #fff;
        box-shadow: 1px 4px 2px 0px rgba(1, 1, 1, 0.22);
    }

    #form {
        width: 80%;
        margin: 0 auto;
    }

    .left_form {
        padding: 20px;
        background-color: #de6e6e;
        border-radius: 5px;
    }

    .left_form input {
        margin-bottom: 5px;
    }

    .left_form label {
        color: #fff;
    }

    .left_form button {
        color: #fff;
    }

    .left_form button:hover {
        color: #fff;
    }

    @media screen and (max-width: 1024px) {
        #form {
            width: 100% !important;
        }

        iframe {
            width: 480px;
            height: 435px;
        }
        .banner {
            height: 10rem;
        }
        .banner h1 {
            line-height: 6rem;
            font-size: 25px !important;
        }
        .ff_contact_box h4{
            font-size: 23px;
        }
    }

    @media screen and (max-width: 768px) {
        iframe {
            width: 355px;
            height: 435px;
        }
        .banner {
            height: 10rem;
        }
        .banner h1 {
            line-height: 6rem;
            font-size: 16px !important;
        }
        .ff_contact_box h4{
            font-size: 23px;
        }
    }

    @media screen and (max-width: 450px) {
        .banner {
            height: 6rem;
        }

        .banner h1 {
            line-height: 6rem;
            font-size: 16px !important;
        }

        iframe {
            width: 100%;
            height: 435px;
        }
        .ff_contact_box{
            padding: 0;
        }
        .ff_contact_box span{
            font-size: 25px;
        }
        .ff_contact_box h4{
            font-size: 21px;
        }
        .ff_contact_box p{
            font-size: 15px;
        }
        .col-lg-4{
            min-width: 300px;
            margin: 30px 0px 0px 0px !important;
            padding-top: 60px !important;
        }
        .con3{
            margin-bottom: 50px !important;
        }
    }
    @media screen and (max-width: 375px) {
        iframe {
            height: 435px;
        }
    }
    @media screen and (max-width:320px) {
        iframe {
            width: 290px;
            height: 435px;
        }
        .ff_contact_box a{
            font-size: 9px;
        }
    }
    .ct .fa:hover, .ct .fa:active{
        /* transform: scale(1.1) rotate(360deg); */
        border-radius: 0%;
    }
</style>
<style>
    .fa{
        transition: all 1s;
    }
    .fa:hover{
        transition: all 1s;
    }
    .three{
        display: flex;
        justify-content: center;
    }
    .col-lg-4{
        /* box-shadow: -7px 4px 13px -1px rgb(156 156 156); */
        width: 310px;
        margin: 50px 10px;
        height: 360px;
        padding-top: 20px;
        border-radius: 0 15px 0 15px;
    }
    .con1{
        background: #ebfcf9;
    }
    .con2{
        background: #fcebeb;
    }
    .con3{
        background: #ebfcf9;
    }
    @media (min-width: 451px) and (max-width: 768px){
        .col-lg-4{
            min-width: 310px;
        }
        .con3{
            margin-top: 0;
        }
    } 
</style>
{% endblock %}

{% block content %}
<header class="banner">
    <span class="background"></span>
    <h1 style="font-size: 22px;">
        <!-- TRANG CHỦ|TIN TỨC|TIN TỨC BẢO HIỂM -->
        <a href="">Trang chủ</a>|
        <a href="">LIÊN HỆ</a>

    </h1>
</header>
<div class="ct pt-4">
    <div class="container">
        <div class="row three">
            <div class="col-lg-4 col-md-4 col-4 con1">
                <div class="ff_contact_box box1">
                    <span class="fa fa-user"></span>
                    <h4>Hãy gọi cho chúng tôi</h4>
                    <hr class="no_line" style="margin: 35px 30px 25px;color: #a7a7a7;">
                    <p style="margin:0px;">+84968569725</p>
                    <p style="margin:0px;"> 0968569725</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-4 con2">
                <div class="ff_contact_box box2">
                    <span class="fa fa-envelope"></span>
                    <h4>Gửi Email</h4>
                    <hr class="no_line" style="margin: 35px 30px 25px;color: #a7a7a7;">
                    <p style="margin:0px;"><a style="text-decoration: none;transition: all 0.5s;"
                            href="#">nemnuonghoale@gmail.com</a></p>
                    <!-- <p style="margin:0px"><a style="text-decoration: none;transition: all 0.3s;"
                            href="#">bihama247@gmail.com</a></p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-4 con3">
                <div class="ff_contact_box box3">
                    <span class="fa fa-map-marker"></span>
                    <h4>Trụ sở chính</h4>
                    <hr class="no_line" style="margin: 35px 30px 25px;color: #a7a7a7;">
                    <p style="margin:0px;">B11C Nam Trung Yên, Khu đô thị Nam Trung Yên, Mễ Trì, Cầu Giấy, Hà Nội</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section id="form">
    <h1>Hãy liên hệ với chúng tôi</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contact-text text-center">
                    <h6>Chúng tôi sẽ đáp ứng yêu cầu của bạn</h6>
                </div>
            </div>
            <div class="col-md-6">
                <form class="left_form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name"> Họ và tên:</label>
                                <input type="text" class="form-control" id="name" placeholder="Nhập họ tên của bạn"
                                    name="name">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn"
                                    name="email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Số điện thoại:</label>
                                <input type="text" class="form-control" id="number"
                                    placeholder="Nhập số điện thoại của bạn" name="email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Thông điệp:</label>
                                <textarea class="form-control" rows="3" id="ContactFormMessage" name="contact[body]"
                                    placeholder="Thông điệp"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12 pt-3">
                            <div class="form-group">
                                <button type="submit" class="btn btn-warning" style="float: right;">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3724.543342430683!2d105.78843011467362!3d21.010934786008033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1679195727405!5m2!1svi!2s" width="600"
                    width="500px" height="435px" frameborder="0" style="border:0;" allowfullscreen=""
                    aria-hidden="false" tabindex="0">
                </iframe>
            </div>
        </div>

</section>
{% endblock %}

{% block javascript_block %}
<script>
	window.onload = function () {
		document.body.className += ' loaded'
	};
</script>
{% endblock %}